@media (max-height:555px) {
	.like-list {
		height: 360px;
	}
}



@media (min-width:1366px) {
    .padd-left15 {
        padding-left: 15px;
    }

}

@media screen and (min-width: 1401px) and (max-width: 1500px) {
	.signal-word-text {
		position: relative;
		left: 30px;
	}
}

@media screen and (min-width: 1366px) and (max-width: 1400px) {
	.signal-word-text {
		position: relative;
		left: 35px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
	.signal-word-text {
		position: relative;
		left: 42px;
	}

}

@media screen and (min-width: 1367px) and (max-width: 1599px) {
    .market-box {
        width: 160px;
    }
    .watch-box .form-control {
        font-size: 14px;
    }
    .video-wrapper {
        min-height: inherit!important;
    }
    .social-icon li a {
        height: 24px;
        width: 24px;
    }
    .single-team-member h3{
		    font-size: 20px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
	.single-team-member h3{
		    font-size: 18px;
	}
	.single-team-member h4{
		font-size: 16px;
	}
    .watch-box .media-left {
        font-size: 11px;
    }
    .market-box {
        width: 140px;
    }
    .watch-box .form-control {
        font-size: 12px;
    }
    .video-wrapper {
        min-height: inherit!important;
    }
    .social-icon li {
        margin-right: 5px; 
    }
    .social-icon li a {
        height: 24px;
        width: 24px;
    }
    .news-search-box .market-box {
        width: 90px;
    }
    .yellow-bg {
        font-size: 12px;
        width: 115px;
    }
    .news-search-box ul li {
        font-size: 12px;
        margin-right: 8px;
    }
    .news-search-box .form-control, .news-search-box ul li .form-control::placeholder {
        font-size: 12px;
    }
}

@media (min-width:992px) {
	.post-menu-toggle, .sidenav .closebtn, .mobile-profile-navigation {
		display: none;
	}
	.table-area select, .select-box-icon select {
		width: 80px;
	}
	
}

@media (min-width:768px) and (max-width:992px) {
	.dl-horizontal dt {
	    width: 100%;
	    display: block;
	}

	.dl-horizontal dd {
	    margin-left: 0;
	    display: block;
	}
}

@media (min-width:992px) and (max-width:1199px) {
    .top-btn-li li .btn {
        width: 140px;
    }
    .back-btn {
        width: auto!important;
    }
    .news-search-box .market-box {
        width: 90px;
    }
    .yellow-bg {
        font-size: 12px;
        width: 115px;
    }
    .news-search-box ul li {
        font-size: 12px;
        margin-right: 8px;
    }
    .news-search-box .form-control, .news-search-box ul li .form-control::placeholder {
        font-size: 12px;
    }
    .social-icon li {
        margin-right: 2px;
    }
	.post-category .form-control {
		width: 130px;
	}
	.table-area select, .select-box-icon select {
		width: 80px;
	}
    .watch-box .media-left {
        font-size: 14px;
    }
    .market-box {
        width: 160px;
    }    
    .video-wrapper {
        min-height: inherit!important;
    }
    .news-box-wrapper .white-card .media-left {
        display: block;
        margin-bottom: 20px;
    }
    .news-box-wrapper .white-card .media-body {
        width: 100%;
    }
    .news-box-wrapper .white-card .media-left img {
        margin: 0 auto;
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .top-btn-li li .btn {
        width: 100px;
    }
    .table-content-area table tr th:last-child {
        text-align: right;
    }
    .table-content-area table tr th:nth-child(2n) {
        text-align: right;
    }
    .top-btn-li li .btn {
        padding: 8px 6px;
    }
    .listing-li {
        float: left;
        margin-top: 10px;
    }
}

@media (max-width:1199px) {
    .blog_box {
        margin-bottom: 30px;
    }
}

@media (min-width:991px) {
	.post-option .dropdown-menu {
		left: -155px !important;
	}
	
}

@media (min-width:768px) {
   
	.sidebar-mini.sidebar-collapse .main-sidebar {
		width: 75px !important;
		z-index: 1031;
	}
	.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
		margin-left: 75px !important;
	}
	.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
		height: 100%;
	}
	.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
		left: 75px;
		padding: 20px 5px 20px 20px;
		/*display: none !important;*/
	}
	.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right){
		left: 48px;
	    padding: 15px 5px 15px 5px;
	    /* display: none !important; */
	    border-radius: 0 50px 50px 0px;

	}
	.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span.menu-icon:not(.pull-right) {
		position: relative;
		left: 0px;
		width: 20px;
		height: 20px;
		padding: 0px;
		margin-left: 0;
		display: inline-block !important;
		/*-webkit-transform: translateZ(0);
	    background-color: transparent;*/
	}
	.modal-dialog {
		/*width: 500px;
		margin: 30px auto;*/
	}
	.sidebar-mini.sidebar-collapse .main-header .logo {
		display: none;
	}
}

@media (min-width:1200px) and (max-width:1365px) {
	.login-text p {
		width: 70%;
		font-size: 14px;
	}
	.login-text h1 {
		font-size: 36px;
	}
    .back-btn {
        width: auto!important;
    }
}



@media (max-width:1220px) {
	.small-box p {
		font-size: 14px;
	}
	.dropdown-backdrop
	{
		position: relative;
	}
}

@media (max-width:1199px) {
	.kt-checkbox {
		margin-right: 15px;
	}
	.comment-box {
		width: 75%;
	}
	.comment-submit {
		width: 25%;
	}
	.login-text h1 {
		font-size: 36px !important;
	}
	.login-text p {
		width: 100% !important;
		font-size: 14px;
	}
	.padd-left-117 {
		padding-left: 87px;
		z-index: 1;
	}
	.custom-row .col-sm-3 {
		width: 360px !important;
	}
	div.dataTables_wrapper div.dataTables_filter input {
		width: 280px;
	}
	.right .direct-chat-text {
		margin-left: auto;
		float: none !important;
		margin-top: 10px;
		margin-right: 75px !important;
	}
}

@media (max-width:991px) {
	#packageModal .columns{
		width: 50% !important;
	}
	#packageModal .price {
		margin-bottom: 90px !important;
	}
	.package-box {
		padding-bottom: 0 !important;
	}
	.single-team-member{
		text-align: center;
	}
	.team-name{
		margin: 20px auto 0 !important;
	}
    .news-box-wrapper .white-card .media-left {
        display: block;
        margin-bottom: 20px;
    }
    .news-box-wrapper .white-card .media-body {
        width: 100%;
    }
    .news-box-wrapper .white-card .media-left img {
        margin: 0 auto;
        text-align: center;
    }
    .market-stock-wrapper .media-body {
        overflow: auto;
    }
    .powered-text {
        text-align: left!important;
        padding: 10px 0 0;
    }
    .video-wrapper {
        min-height: inherit!important;
    }
    .table-content-area table tr td:first-child {
        width: auto;
    }
/*
    .table-content-area table tr th:last-child, .table-content-area table tr td:nth-child(2n) {
        text-align: left!important;
    }
    .commodity-area table tr th:last-child, .commodity-area table tr td:nth-child(2n) {
        text-align: right!important;
    }
*/
    .watch-box {
        margin-bottom: 20px;
    }
	.lvc-logo-img {
		margin-top: 0px;
	}
	.custom-row {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	div.dataTables_wrapper div.dataTables_filter {
		text-align: left;
	}
	div.dataTables_wrapper div.dataTables_filter input {
		width: 325px;
	}
	div.dataTables_wrapper div.dataTables_length select {
		margin-left: 17px;
	}
	.custom-row .col-sm-3 {
		width: 400px !important;
		float: none;
	}
	.navbar-custom-menu .navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
		padding-left: 0;
		margin: 0 0px 0 15px;
	}
	.align-items-center {
		display: block;
	}
	.login-side-img:before {
		content: none;
	}
	.login-side-img .login-bg {
		height: 300px;
	}
	.login-box, .register-box {
		margin: 50px auto;
		/*width: 100%;*/
		/*padding: 0 15px;*/
	}
	.login-text {
		padding-left: 20px;
	}
	.padd-left-117 {
		padding-left: 15px;
	}
	.status-row h4 {
		margin-right: 10px;
	}
	.chat-box {
		display: block;
	}
	.comment-box {
		width: 100%;
	}
	.comment-submit {
		width: 100%;
		margin-top: 15px;
	}
	.admin-submit {
		padding-left: 0;
	}
	.post-menu-toggle {
		position: fixed;
		right: 0px;
		top: 65px;
		z-index: 1;
		width: 145px;
		background-color: #3DB554;
		border-radius: 20px 0px 0 20px;
		cursor: pointer;
		color: #fff;
		padding: 5px 5px 5px 25px;
		line-height: 16px;
		font-size: 13px;
		transition: all .4s;
	}
	.post-menu-toggle:hover {
		transition: all .4s;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 18px;
		right: 20px;
		z-index: 1;
		font-size: 20px;
		color: #fff;
		background-color: #3DB554;
		width: 22px;
		height: 22px;
		text-align: center;
		line-height: 24px;
		border-radius: 100%;
	}
	#clientNavigationHeader
	{
		display:none;
	}
	.mobile-profile-navigation .closebtn{
		top: 5px;
		right: 10px;
	}
	.sidenav {
		width: 0px;
		position: fixed;
		top: 70px;
		right: 0;
		height: calc(100vh - 70px);
		overflow: auto;
		z-index: 2;
		transition: 0.5s;
		padding-left: 20px;
		margin-right: 0px;
	}
	.post-menu-toggle i {
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -10px;
		font-size: 18px;
		-webkit-animation-name: arrowMove;
		-webkit-animation-duration: 2s;
		animation-name: arrowMove;
		animation-duration: 2;
		animation-iteration-count: infinite;
	}
	@-webkit-keyframes arrowMove {
		0% {
			left: 15px;
		}
		50% {
			left: 2px;
		}
		100% {
			left: 15px;
		}
	}
	@keyframes arrowMove {
		0% {
			left: 15px;
		}
		50% {
			left: 2px;
		}
		100% {
			left: 15px;
		}
	}
	.mCSB_inside>.mCSB_container {
		margin-right: 0px;
	}
	.right-chat {
		position: inherit;
	}
	#viewLogModal .modal-body {
	    width: 100%;
	    overflow: auto;
	}
}

@media (max-width:767px) {
    .top-btn-li li {
        margin-right: 1px;
    }
    .top-btn-li li .btn {
        padding: 8px 8px;
        font-size: 12px;
        margin-bottom: 10px;  
    }
    .back-btn {
        width: auto!important;
    }
    .bttm-img-txt .align-item-center {        
        display: block;
    }
    .bttm-img-txt .align-item-center img {
        text-align: center;
    margin: 10px auto 30px;
    }
    .news-box-wrapper .white-card .box-space .col-lg-6 {
        padding-left: 0;
    }
    .date-text {
        font-size: 11px;
    }
    .yellow-bg {
        width: 115px;
        font-size: 11px;
    }
    .table-content-area table tr td:nth-child(2n) {
        text-align: left!important;
    }
    .table-content-area table tr th:last-child, .commodity-area table tr th:last-child, .commodity-area table tr td:nth-child(2n) {
        text-align: right!important;
    }
    .submenu .nav-item .nav-link {
        padding: 10px 20px!important;
    }
	div.direct-chat-messages {
		padding: 15px !important;
	}
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
		text-align: left;
	}
	div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {
		font-size: 12px;
	}
	div.dataTables_wrapper div.dataTables_length select {
		margin-left: 16px;
		margin-right: 0;
	}
	.custom-row .col-sm-3 {
		width: 270px !important;
		float: none;
	}
	div.dataTables_wrapper div.dataTables_filter input {
		width: 200px;
	}
	.paging_simple_numbers {
		margin-left: -25px !important;
	}
	/*.sidebar-open .content-wrapper, .sidebar-open .main-footer {
		-webkit-transform: translate(0px, 0);
		-ms-transform: translate(0px, 0);
		-o-transform: translate(0px, 0);
		transform: translate(0px, 0);
	}*/
	.login-box, .register-box {
		width: 100%;
		padding: 0 15px;
	}
	.main-header .navbar {
		margin: 0 !important;
	}
	.main-sidebar {
		width: 210px !important;
		/*padding-top: 136px;*/
	}
	.skin-green .main-header .navbar .dropdown-menu li a {
		color: #333;
	}
	.skin-green .main-header .navbar {
		height: auto;
		/*display: block;*/
		/*flex-direction: column-reverse;*/
		justify-content: flex-end;
	}
	.main-header {
		height: auto !important;
		max-height: inherit !important;
		padding: 0;
		display: flex;
	}
	.skin-green .main-header .logo, .skin-green .main-header .logo:hover {
		padding: 5px;
		text-align: left;
		width: 100%;
		max-width: inherit;
		margin: 0;
	}
	.main-header .logo img {
		max-width: 160px !important;
		margin: auto;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right {
		float: none;
		margin-left: 0;
	}
	.user-pic {
		margin-right: 0 !important;
	}
	.main-header .sidebar-toggle {
		padding: 6px 0 0;
	}
	.navbar-static-top {
		padding: 0 10px;
	}
	.skin-green .main-header .navbar .dropdown-menu li a:hover {
		background: #3DB554;
		color: #fff;
	}
	.content-wrapper, .main-footer {
		margin-left: 0px !important;
	}
	.skin-green .content-header {
		padding: 20px 30px 20px;
	}

	.content {
		padding: 30px 15px;
	}
	.panel-group .panel+.panel {
		margin-top: 20px;
	}
	.login-text h1 {
		font-size: 30px !important;
	}
	.login-logo, .register-logo {
		font-size: 26px;
	}
	.logo-lg {
		display: inline-block;
		max-width: 170px;
	}
	.box-body.table-responsive {
		border: 0 !important;
	}
	.custom-file {
		margin-bottom: 15px;
	}
	.form-inline {
		margin-top: 15px;
	}
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.post-category {
		text-align: left;
	}
	.post-menu-toggle {
		top: 85px;
	}
	.search-row .row {
		display: block;
	}
	

	@media screen, print {
		.table-area .table-bordered>thead>tr>th, .table-area .table-bordered>tbody>tr>th, .table-area .table-bordered>tfoot>tr>th, .table-area .table-bordered>thead>tr>td, .table-area .table-bordered>tbody>tr>td, .table-area .table-bordered>tfoot>tr>td {
			border: 1px solid #cecece;
		}
		.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
			border: 1px solid #f4f4f4;
		}
		.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
			border-top: 1px solid #f4f4f4;
		}
		.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
			border: 1px solid #ddd;
		}
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 1px solid #cecece;
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 1px solid #cecece;
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 1px solid #cecece;
	}

	.risk-profile-area .col-sm-1
	{
		text-align:left !important;
	}
}

@media only screen and (max-width: 600px) {
	.inner-body {
		width: 100% !important;
	}
	.footer {
		width: 100% !important;
	}
}

@media(max-width:575px) {
	.skin-green .content-header {
		display: inline-block;
	}

	.pull-right.m-bunch {
	    float: none !important;
	    margin-top: 10px;
	}

	#packageModal .columns{
		width: 100% !important;
	}
    .listing-li {
        float: left;
    }
    .top-btn-li {
        float: left;
        margin-top: 20px;
    }
    .cbox-header .row {
        display: block;
    }
    .top-title .col-xs-6 {
        width: 100%;
        text-align: left;
    }
    .top-title h3 {
        margin-bottom: 10px;
    }
    .top-title .date-text {
        text-align: left!important;
    }
    .news-search-box ul {
        display: block;
    }
    .news-search-box .market-box {
        width: 100%;
    }
    .news-search-box ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .news-box-wrapper .col-xs-6 {
        width: 100%;
    }
    .market-stock-wrapper .white-card .media p {
        font-size: 13px;
    }
	.login-box .checkbox label span {
		font-size: 12px;
		top: 0;
	}
	.forgot-pass {
		font-size: 11px;
	}
	.btn-info {
		font-size: 14px !important;
		padding: 6px !important;
		min-width: 90px;
	}
	.subscriptionModals .btn-success, .custom-modal .btn-success, 	.btn-default {
		font-size: 14px !important;
		padding: 6px !important;
		min-width: 90px;
	}
	.status-row {
		display: block;
	}
	.status-row h4 {
		margin-bottom: 10px;
	}
	.login-side-img .login-bg {
		height: 340px;
	}
	.shadow-box {
		padding: 15px;
	}
	.box {
		padding: 10px;
	}
	.search-forum {
		display: block;
	}
	.search-forum .form-group {
		width: 100%;
		margin-bottom: 10px;
	}
	.search-forum .form-group:nth-child(2) {
		width: 100%;
	}
	.search-forum .form-group:focus-within {
		width: 100%;
	}
	.search-forum .btn-post {
		width: 100%;
		margin-left: 0;
	}
	.view-likes .modal-dialog {
		width: auto;
		margin: 10px;
	}
	.sidenav .shadow-box {
		padding: 20px 10px;
	}
	.search-row .bdr-partition {
		display: none;
	}
	.post-category .form-control {
		width: 150px;
	}
}

@media (min-width:576px) and (max-width:767px) {
    .top-btn-li li .btn {
        width: 100px;
    }
}

@media only screen and (max-width: 500px) {
	.button {
		width: 100% !important;
	}
    .top-title h3 {
        white-space: inherit;
        width: auto;
        line-height: inherit;
    }
}

@media(max-width:410px) {
	.login-bottom {
		display: block;
	}
	.login-bottom a {
		border-radius: 5px;
		min-width: auto;
		text-align: left;
		margin-top: 15px;
		display: block;
	}
}

@media (max-width:430px) {
    .watch-box .media-left {
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
    .market-box {
        width: 100%;
        float: none;
    }
    .watch-box .media-body {
        width: 100%;
        display: block;
    }
    .watch-box .box-space {
        padding-left: 0;
    } 
}

@media (max-width:400px) {
    .top-title h3 {
        font-size: 12px;
    }
	.post-head-area .date-time-area {
		position: relative;
		display: block;
		right: 0;
		top: 0;
		margin-bottom: 10px;
	}
	.post-head-area .notification-date-time
	{	
		position: absolute;
		right: 5px;
		top: 10px;
		font-weight: 500;
	}
    
    .post-category .btn-post {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .like-area .list-inline li:last-child {
        margin-top: 10px;
    }
    .top-btn-li li .btn {
        margin-bottom: 10px;   
    }
    #tile-1 .nav-tabs li a {
        padding: 8px 11px;
    }
}